SECRET_KEY=django-insecure-t9_qtst$4v8+6qltt$p3z@$*$@fuj*fwd3=t(e*c(z9%upvm=m
DEBUG=False
ALLOWED_HOSTS=api.ework.ia.bo,127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://api.ework.ia.bo,http://localhost:8000
